{% sw_extends '@parent/storefront/page/checkout/finish/finish-details.html.twig' %}

{% block page_checkout_finish_data %}
    {% set sovendusData = context.context.extensions.sovendusData %}
    {% if sovendusData.enabled and sovendusData.trafficMediumNumber and sovendusData.trafficSourceNumber %}
        {% block thank_you_page_sovendus_banner_top %}
            {% if sovendusData.bannerLocation == sovendusData.bannerLocationConstants.above %}
                <div id="{{ sovendusData.iframeContainerId }}" class="sovendus-container mb-4"></div>
            {% endif %}
        {% endblock %}
        {{ parent() }}
        {% block thank_you_page_sovendus_banner_bottom %}
            {% if sovendusData.bannerLocation == sovendusData.bannerLocationConstants.below %}
                <div id="{{ sovendusData.iframeContainerId }}" class="sovendus-container mb-4"></div>
            {% endif %}
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}