{% sw_extends '@parent/storefront/page/checkout/finish/index.html.twig' %}

{% block base_body_inner %}
	{% set sovendusData = context.context.extensions.sovendusData %}
	{% if sovendusData.enabled and sovendusData.trafficSourceNumber and sovendusData.trafficMediumNumber %}
		<div id="sovendus-integration-container"></div>
		{{ parent() }}

		<script>
			window.sovThankyouConfig = {{ sovendusData.jsConfig|raw }};
		</script>
		<script src="{{ asset('bundles/sovendusplugin/storefront/js/thankyou-page.js') }}"></script>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
