<div class="sovendus-settings">
	<sw-page class="sovendus-settings-page">
		<template slot="smart-bar-header">
			<h2>{{ $tc('sovendus-settings.general.mainMenuItemGeneral') }}</h2>
		</template>

		<template slot="content">
			<sw-card-view>
				<sw-card :isloading="isLoading" :title="$tc('sovendus-settings.general.configCardTitle')">
					<div id="sovendus-settings-container" style="min-height: 600px;"></div>
				</sw-card>
			</sw-card-view>
		</template>
	</sw-page>
</div>
