{% block sw_plugin_config %}
    {% block sw_plugin_config_sovendus %}
        <div v-if="isSovendusPlugin" class="sw-plugin-config">
            <sovendus-injector></sovendus-injector>
            {% parent %}
        </div>
    {% endblock %}

    {% block sw_plugin_config_default %}
        <div v-else class="sw-plugin-config">
            {% parent %}
        </div>
    {% endblock %}
{% endblock %}
