<div class="sovendus-config">
    <sw-card-view>
        <sw-card :isLoading="isLoading" title="Sovendus App Settings">
            <div id="sovendus-settings-container" style="min-height: 600px;"></div>
        </sw-card>
    </sw-card-view>
</div>
