<div class="sovendus-config-page">
    <sw-page class="sovendus-config-page">
        <template slot="smart-bar-header">
            <h2>Sovendus App Settings</h2>
        </template>

        <template slot="content">
            <sovendus-config></sovendus-config>
        </template>
    </sw-page>
</div>
