<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		ps_sovendus
	</name>
	<displayName>
		<![CDATA[Sovendus App]>
	</displayName>
	<version>
		<![CDATA[1.0.1]]>
	</version>
	<description>
		<![CDATA[Official Sovendus App for PrestaShop]]>
	</description>
	<author>
		<![CDATA[Sovendus - Marcus Brandstätter]]>
	</author>
	<tab>
		<![CDATA[front_office_features]]>
	</tab>
	<is_configurable>
		1
	</is_configurable>
	<need_instance>
		0
	</need_instance>
	<limited_countries>
	</limited_countries>
</module>
